<!-- start sidebar -->
<div class="col-md-4 sidebar">
	{{> widget-social}}
	{{> widget-ad}}
	<!--{{> widget-subscribe}}-->
	{{> widget-recentpost}}
	{{> widget-tagcloud}}
	{{> widget-instagram}}
	{{> widget-facebook}}
	{{> widget-twitter}}
	<!--{{> widget-text}}-->
</div>
<!-- end sidebar -->