<!-- start widget -->
<div class="widget">
	<h4 class="title">{{t "Kenyan Running Bands"}}</h4>
	<div class="content ad">
		<img src="{{asset "images/artisan-ad.png"}}" alt="Artisan Design | Kenyan Running Bands">
	</div>
</div>
<!-- end widget -->