<!-- start widget -->
<div class="widget">
	<h4 class="title">{{t "Kenyan Running Bands"}}</h4>
	<div class="content ad">
        <a href="https://www.artisan.design">
		    <img src="{{asset "images/artisan-ad.png"}}" alt="Artisan Design | Kenyan Running Bands">
        </a>
	</div>
</div>
<!-- end widget -->