<!-- start widget -->
<div class="widget">
	<h4 class="title">{{t "Masks with a purpose"}}</h4>
	<div class="content ad">
		<img src="{{asset "images/ad-placeholder.png"}}" alt="Mask with a purpose">
	</div>
</div>
<!-- end widget -->