<!-- start widget -->
<div class="widget">
	<h4 class="title">{{t "African Masks"}}</h4>
	<div class="content ad">
		<img src="{{asset "images/masks-with-a-purpose"}}" alt="Masks with a purpose">
	</div>
</div>
<!-- end widget -->