<div class="pricing-table">
    <div class="table-header text-center">
        <h3 class="pricing-table-title h4">{{t "Yearly"}}</h3>
        <div class="price">
            <span class="currency">$</span><span class="value">{{@price.yearly}}</span>
            <span class="duration">{{t "/ Year"}}</span>
        </div>
    </div class="table-header">
    <ul class="table-details">
        <li>Full access to all private posts</li>
        <li>Regular updates with new content</li>
        <li>Support independent publishing</li>
        <li>Simple, secure card payment</li>
        <li>One easy payment instead of 12!</li>
        <li>Get 25% discount!</li>
    </ul>
    <div class="table-footer text-center">
        <a class="btn btn-default" href="javascript:void(0)" data-members-plan="Yearly">{{t "Subscribe now"}}</a>
    </div>
</div>